<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Carnet de santé</title>
    <link rel="stylesheet" href="/css/main.css">
</head>
<body class="overflow-y-hidden">
<div class="total-center">
    <div class="column">
        <h1>Bienvenue sur votre Carnet de santé en ligne</h1>
        <div class="space-evenly">
            <a href="/login" class="btn">Connexion</a>
            <a href="/register" class="btn">Inscription</a>
        </div>
    </div>
</div>
</body>
</html>