$primary-color: #4e937a;
$secondary-color: #f5f7dc;
$gill: 'Gill Sans', 'Gill Sans MT', sans-serif;

@mixin btn {
    background-color: $primary-color;
    color: white;
    font-family: $gill;
    font-size: 1.5rem;
    padding: 10px 20px;
    border: none;
    border-radius: 20px;
    cursor: pointer;
    transition: all 0.3s ease;
    text-decoration: none;

    &:hover {
        transform: scale(1.1);
        box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    }
}

@mixin title {
    color: $primary-color;
    font-family: $gill;
}

.btn {
    @include btn;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    @include title;
}